<%= form_for(@classmate) do |f| %>
  <% if @classmate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classmate.errors.count, "error") %> prohibited this classmate from being saved:</h2>

      <ul>
      <% @classmate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名字" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :school, "學校" %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :gender, "男生請打勾" %><br>
    <%= f.check_box :gender %>
  </div>
  <div class="field">
    <%= f.label :bike, "有車請打勾" %><br>
    <%= f.check_box :bike %>
  </div>
  <div class="actions">
    <%= f.submit "參加" %>
  </div>
<% end %>
